@import "pages/_lanote";
@import "pages/_lapalette";
@import "pages/_home";
@import "pages/_lechic";
@import "pages/_ledelice";
@import "global/_responsivehome";
@import "global/_responsivenote";
@import "global/_responsivechic";
@import "global/_responsivedelice";
@import "global/_responsivepalette";

/*MAIN.CSS*/

.footer {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #579c87;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 15;
}



nav {
  float: left;

  a {
    color: #fdcb46;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: ABeeZee;

    &:hover:not(.active) {
      background-color: #579c87;
    }
  }
}

.float_right {
  float: right;
}

.wiggle {
  &:hover {
    animation: wiggle 75ms infinite;
    animation-timing-function: linear;
  }
}

@keyframes wiggle {
  0% {
    transform: translate(2px, 0);
  }

  50% {
    transform: translate(-2px, 0);
  }

  100% {
    transform: translate(2px, 0);
  }
}

.btn {
  display: flex;
  justify-content: center;
  height: 40px;
  width: 100%;
  background-color: #579c87;
  border-radius: 10px;
}

.cs-loader {
  align-self: center;
  color: #fdcb46;
  text-align: center;

  label {
    font-size: 14px;
    opacity: 0;
    display: inline-block;
  }
}

@keyframes loader {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  33% {
    opacity: 1;
    transform: translateX(0px);
  }

  66% {
    opacity: 1;
    transform: translateX(0px);
  }

  100% {
    opacity: 0;
    transform: translateX(50px);
  }
}

@-webkit-keyframes loader {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50px);
  }

  33% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }

  66% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(50px);
  }
}

.btn:hover label {
  &:nth-child(3) {
    -webkit-animation: loader 1s 100ms infinite ease-in-out;
    animation: loader 1s 100ms infinite ease-in-out;
  }

  &:nth-child(2) {
    -webkit-animation: loader 1s 150ms infinite ease-in-out;
    animation: loader 1s 150ms infinite ease-in-out;
  }

  &:nth-child(1) {
    -webkit-animation: loader 1s 200ms infinite ease-in-out;
    animation: loader 1s 200ms infinite ease-in-out;
  }
}

.soon {
  padding: 60px;
  text-align: center;
  color: white;
}

.next {
  font-size: 18px;
  padding-left: 31px;
  align-self: center;
  color: #fdcb46;
  font-family: ABeeZee;
}

/* dégrader et police des titres de chaque menus*/
.lechicmini {
  padding-top: 37%;
  font-weight: bold;
  background: linear-gradient(to right, #c77412 0%, #905bfd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 80%;
}

.ledélicemini {
  background: linear-gradient(to right, #0431df 0%, #0887fb 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 156%;
  font-family: Dancing Script;
  padding-top: 32%;

  font-weight: bold;
}

.lapalettemini {
  background: linear-gradient(to right, #56a847 0%, #bfff7e 54%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 150%;
  font-family: Merienda One;
  padding-top: 31%;
}

.lanote {
  color: black;
  font-size: 200%;
  font-family: Caveat;
}

.lanotemini {
  color: black;
  font-size: 80%;
  font-family: Caveat;
  padding: 4%;
}

/*grille des menus table*/
table,
td,
th {
  text-align: left;
}

th,
td {
  padding: 15px;
  width: 100%;
}

/*prix en gras*/
.grasprix {
  font-weight: bold;
}

body {
  margin: 0;
}

.header {
  background-color: #579c87;
  padding: 20px;
  text-align: center;

  a {
    font-family: Archivo black;
    color: #fdcb46;
    text-decoration: none;
    font-size: 273%;
  }
}

.active {
  background-color: #4caf50;
}

a {
  text-decoration: none;
}



