@charset "UTF-8";
/*1_lanote*/
.card1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcdfdb;
  margin: 12%;
  padding: 31px;
  padding-bottom: 22%;
  text-align: center;
  font-family: Caveat;
  font-weight: bold;
  font-size: 159%;
  color: black;
}

.card1grand {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcdfdb;
  margin: 12%;
  padding: 31px;
  padding-bottom: 22%;
  text-align: center;
  font-family: Caveat;
  font-weight: bold;
  font-size: 159%;
}

.table1 {
  border-collapse: collapse;
  width: 95%;
  font-size: 23px;
  font-family: Caveat;
  margin: 21px;
}

/*lanote*/
h2.note {
  font: 33px sans-serif;
  margin-top: 30px;
  text-align: center;
  font-family: Caveat;
  font-weight: bold;
}
h2.note.backgroundnote {
  position: relative;
  z-index: 5;
}
h2.note.backgroundnote:before {
  border-top: 2px solid black;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: -1;
}
h2.note.backgroundnote span {
  background: #fcdfdb;
  padding: 0 50px;
}

/*le logo de la note*/
.music {
  background: linear-gradient(to right, #f15861 0%, #f78f6a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
}

/*4_lapalette*/
.card4 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: #fdfffd;
  margin: 12%;
  padding: 31px;
  padding-bottom: 22%;
}

.card4grand {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: #fdfffd;
  margin: 12%;
  padding: 31px;
  padding-bottom: 22%;
}

/*lapalette*/
h2.palette {
  font: 33px sans-serif;
  margin-top: 30px;
  text-align: center;
  font-family: Caveat;
}
h2.palette.backgroundlapalette {
  position: relative;
  z-index: 1;
}
h2.palette.backgroundlapalette:before {
  background-image: radial-gradient(#bfff7e 0%, #56a847 100%);
  content: "";
  margin: 14px auto;
  position: absolute;
  top: 2%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: -1;
}
h2.palette.backgroundlapalette span {
  background: #fdfffd;
  padding: 2px 50px;
}

/*home*/
/*dispositions du home.html*/
.column {
  float: left;
  width: 46%;
}

.row {
  margin: 7%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
  display: flex;
}

/*effet de zoom pour tous les menus*/
.zoom1, .zoom2, .zoom3, .zoom4 {
  padding: 50px;
  transition: transform 0.2s;
  height: 200px;
  margin: 0 auto;
}

.zoom1:hover, .zoom2:hover, .zoom3:hover, .zoom4:hover {
  -ms-transform: scale(1.5);
  /* IE 9 */
  -webkit-transform: scale(1.5);
  /* Safari 3-8 */
  transform: scale(1.5);
}

.card1, .card2, .card3, .card4 {
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

/*opacity*/
.card1:hover, .card2:hover, .card3:hover, .card4:hover {
  opacity: 0.5;
}

/*lehome.html le mot menu avec mm typo mais couleur différente*/
.menu1 {
  font-family: Caveat;
  color: #0887fb;
  font-size: 283%;
}

.menu2 {
  font-family: Caveat;
  color: #56a847;
  font-size: 283%;
}

.menu3 {
  color: #c77412;
  font-size: 140%;
}

.menu4 {
  font-family: Caveat;
  color: black;
  font-size: 150%;
}

/*2_lechic*/
/*lechic*/
h2.chic {
  font: 33px sans-serif;
  margin-top: 30px;
  text-align: center;
  font-family: Old Standard TT;
}
h2.chic.backgroundchic1 {
  position: relative;
  z-index: 1;
}
h2.chic.backgroundchic1:before {
  background: #c67412;
  content: "";
  margin: 14px auto;
  position: absolute;
  top: 2%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: -1;
}
h2.chic.backgroundchic1 span {
  color: #c67412;
  font-weight: bold;
  background: #fff5fe;
  padding: 2px 50px;
}
h2.chic.backgroundchic2 {
  position: relative;
  z-index: 1;
}
h2.chic.backgroundchic2:before {
  background: #a56799;
  content: "";
  margin: 14px auto;
  position: absolute;
  top: 2%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: -1;
}
h2.chic.backgroundchic2 span {
  color: #a56799;
  font-weight: bold;
  background: #fff5fe;
  padding: 2px 50px;
}
h2.chic.backgroundchic3 {
  position: relative;
  z-index: 1;
}
h2.chic.backgroundchic3:before {
  background: #6e4ccc;
  content: "";
  margin: 14px auto;
  position: absolute;
  top: 2%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: -1;
}
h2.chic.backgroundchic3 span {
  color: #6e4ccc;
  font-weight: bold;
  background: #fff5fe;
  padding: 2px 50px;
}

.card2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: Old Standard TT;
  font-weight: bold;
  font-size: 165%;
  background-color: #fff5fe;
  margin: 12%;
  padding: 31px;
  padding-bottom: 22%;
}

.card2grand {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: Old Standard TT;
  font-weight: bold;
  font-size: 165%;
  background-color: #fff5fe;
  margin: 12%;
  padding: 31px;
  padding-bottom: 22%;
}

.tablechic1 {
  border-collapse: collapse;
  width: 83%;
  font-size: 23px;
  font-family: Old Standard TT;
  margin-left: 66px;
  color: #c67412;
}

.tablechic2 {
  border-collapse: collapse;
  width: 83%;
  font-size: 23px;
  font-family: Old Standard TT;
  margin-left: 66px;
  color: #a56799;
}

.tablechic3 {
  border-collapse: collapse;
  width: 83%;
  font-size: 23px;
  font-family: Old Standard TT;
  margin-left: 66px;
  color: #6e4ccc;
}

/*3_ledélice*/
/*ledélice*/
h2.délice {
  font: 33px sans-serif;
  margin-top: 30px;
  text-align: center;
  font-family: Dancing Script;
}
h2.délice.backgrounddélice1 {
  position: relative;
  z-index: 1;
}
h2.délice.backgrounddélice1:before {
  background: #0228dd;
  content: "";
  margin: 14px auto;
  position: absolute;
  top: 2%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: -1;
}
h2.délice.backgrounddélice1 span {
  background: #f9f9f9;
  padding: 2px 50px;
}
h2.délice.backgrounddélice2 {
  position: relative;
  z-index: 1;
}
h2.délice.backgrounddélice2:before {
  background: #0670f3;
  content: "";
  margin: 14px auto;
  position: absolute;
  top: 2%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: -1;
}
h2.délice.backgrounddélice2 span {
  background: #f9f9f9;
  padding: 2px 50px;
}
h2.délice.backgrounddélice3 {
  position: relative;
  z-index: 1;
}
h2.délice.backgrounddélice3:before {
  background: #229df9;
  content: "";
  margin: 14px auto;
  position: absolute;
  top: 2%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: -1;
}
h2.délice.backgrounddélice3 span {
  background: #f9f9f9;
  padding: 2px 50px;
}

.table3 {
  border-collapse: collapse;
  width: 83%;
  font-size: 23px;
  font-family: Dancing Script;
  margin-left: 66px;
}

.card3 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: #f9f9f9;
  margin: 12%;
  padding: 31px;
  padding-bottom: 22%;
}

.card3grand {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: #f9f9f9;
  margin: 12%;
  padding: 31px;
  padding-bottom: 22%;
}

/*lechic.html couleur de police x3 différente*/
.fontcolor1 {
  color: #c67412;
}

.fontcolor2 {
  color: #a56799;
}

.fontcolor3 {
  color: #6e4ccc;
}

@media screen and (max-width: 425px) {
  .header {
    /* content de l'avatar */
    height: 8%;
    font-size: 67%;
    /* center avatar */
  }

  .footer {
    font-size: 85%;
    height: 8%;
  }

  .soon {
    padding: 60px;
    text-align: center;
    color: white;
    width: 60%;
    margin-left: 4px;
    margin-top: -16%;
  }

  .card1 {
    font-size: 95%;
    padding: 26px;
    padding-bottom: 30%;
    height: 21%;
    width: 55%;
  }

  .card2 {
    font-size: 71%;
    padding: 26px;
    padding-bottom: 30%;
    height: 21%;
    width: 55%;
  }

  .card3 {
    font-size: 37%;
    padding: 26px;
    padding-bottom: 30%;
    height: 21%;
    width: 55%;
  }

  .card4 {
    font-size: 37%;
    padding: 26px;
    padding-bottom: 30%;
    height: 21%;
    width: 55%;
  }

  .zoom1 {
    padding: 0px;
    padding-top: 18px;
  }

  .zoom2 {
    padding: 0px;
  }

  .zoom3 {
    padding: 0px;
  }

  .zoom4 {
    padding: 0px;
  }

  .column {
    float: left;
    width: 47%;
  }

  .row {
    margin: 0%;
  }

  .fa-music:before {
    font-size: 50%;
  }

  .menu1 {
    font-family: Caveat;
    color: #0887fb;
    font-size: 363%;
  }

  .menu4 {
    font-family: Caveat;
    color: black;
    font-size: 113%;
  }

  .menu3 {
    color: #c77412;
    font-size: 140%;
  }

  .menu2 {
    font-family: Caveat;
    color: #56a847;
    font-size: 363%;
  }

  .lanotemini {
    color: black;
    font-size: 80%;
    font-family: Caveat;
    padding: 4%;
  }

  .lechicmini {
    padding-bottom: 8%;
    font-weight: bold;
    background: linear-gradient(to right, #c77412 0%, #905bfd 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 60%;
    margin-block-start: 47px;
  }

  .lapalettemini {
    background: linear-gradient(to right, #56a847 0%, #bfff7e 54%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 113%;
    font-family: Merienda One;
    padding-top: 20%;
    margin-block-start: 43px;
  }

  .ledélicemini {
    background: linear-gradient(to right, #0431df 0%, #0887fb 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 140%;
    font-family: Dancing Script;
    padding-bottom: 8%;
    font-weight: bold;
    padding-top: 4%;
    margin-block-start: 43px;
  }

  p.next {
    font-size: 16px;
  }
}
@media screen and (min-width: 425px) and (max-width: 768px) {
  .header {
    /* content de l'avatar */
    height: 11%;
    font-size: 85%;
    /* center avatar */
  }

  .footer {
    font-size: 85%;
    height: 8%;
  }

  .soon {
    padding: 60px;
    text-align: center;
    color: white;
    /* font-size: 4%; */
    width: 48%;
    margin-left: 12%;
  }

  .card1 {
    font-size: 115%;
    padding: 26px;
    padding-bottom: 30%;
    height: 21%;
    width: 55%;
  }

  .card2 {
    font-size: 94%;
    padding: 26px;
    padding-bottom: 30%;
    height: 21%;
    width: 55%;
  }

  .card3 {
    font-size: 50%;
    padding: 26px;
    padding-bottom: 30%;
    height: 21%;
    width: 55%;
  }

  .card4 {
    font-size: 50%;
    padding: 26px;
    padding-bottom: 30%;
    height: 21%;
    width: 55%;
  }

  .zoom1 {
    padding: 0px;
    padding-top: 18px;
  }

  .zoom2 {
    padding: 0px;
  }

  .zoom3 {
    padding: 0px;
  }

  .zoom4 {
    padding: 0px;
  }

  .column {
    float: left;
    width: 50%;
  }

  .row {
    margin: 3%;
  }

  .fa-music:before {
    font-size: 50%;
  }

  .menu1 {
    font-family: Caveat;
    color: #0887fb;
    font-size: 363%;
  }

  .menu4 {
    font-family: Caveat;
    color: black;
    font-size: 133%;
  }

  .menu3 {
    color: #c77412;
    font-size: 140%;
  }

  .menu2 {
    font-family: Caveat;
    color: #56a847;
    font-size: 363%;
  }

  .lanotemini {
    color: black;
    font-size: 80%;
    font-family: Caveat;
    padding: 4%;
  }

  .lechicmini {
    padding-bottom: 8%;
    font-weight: bold;
    background: linear-gradient(to right, #c77412 0%, #905bfd 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 80%;
    margin-block-start: 45px;
  }

  .lapalettemini {
    background: linear-gradient(to right, #56a847 0%, #bfff7e 54%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 150%;
    font-family: Merienda One;
    padding-top: 4%;
    margin-block-start: 45px;
  }

  .ledélicemini {
    background: linear-gradient(to right, #0431df 0%, #0887fb 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 156%;
    font-family: Dancing Script;
    padding-bottom: 0px;
    font-weight: bold;
    padding-top: 4%;
    margin-block-start: 45px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .header {
    /* content de l'avatar */
    height: 11%;
    font-size: 85%;
    /* center avatar */
  }

  .footer {
    font-size: 85%;
    height: 8%;
  }

  .soon {
    padding: 60px;
    text-align: center;
    color: white;
    /* font-size: 4%; */
    width: 28%;
    margin-left: 29%;
    margin-top: -16%;
  }

  .card1 {
    font-size: 214%;
    padding: 20px;
    padding-bottom: 61%;
    height: 21%;
    width: 77%;
  }

  .card2 {
    font-size: 170%;
    padding: 20px;
    padding-bottom: 61%;
    height: 21%;
    width: 77%;
  }

  .card3 {
    font-size: 98%;
    padding: 20px;
    padding-bottom: 61%;
    height: 21%;
    width: 77%;
  }

  .card4 {
    font-size: 98%;
    padding: 20px;
    padding-bottom: 61%;
    height: 21%;
    width: 77%;
  }

  .zoom1 {
    padding: 0px;
    padding-top: 60px;
  }

  .zoom2 {
    padding: 0px;
  }

  .zoom3 {
    padding: 0px;
  }

  .zoom4 {
    padding: 0px;
  }

  .column {
    float: left;
    width: 48%;
  }

  .row {
    margin: 2%;
  }

  .fa-music:before {
    font-size: 84%;
  }

  .menu1 {
    font-family: Caveat;
    color: #0887fb;
    font-size: 363%;
  }

  .menu4 {
    font-family: Caveat;
    color: black;
    font-size: 133%;
  }

  .menu3 {
    color: #c77412;
    font-size: 140%;
  }

  .menu2 {
    font-family: Caveat;
    color: #56a847;
    font-size: 363%;
  }

  .lanotemini {
    color: black;
    font-size: 80%;
    font-family: Caveat;
    padding: 4%;
  }

  .lechicmini {
    padding-bottom: 8%;
    font-weight: bold;
    background: linear-gradient(to right, #c77412 0%, #905bfd 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 80%;
    margin-block-start: 100px;
  }

  .lapalettemini {
    background: linear-gradient(to right, #56a847 0%, #bfff7e 54%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 150%;
    font-family: Merienda One;
    padding-top: 4%;
    margin-block-start: 84px;
  }

  .ledélicemini {
    background: linear-gradient(to right, #0431df 0%, #0887fb 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 156%;
    font-family: Dancing Script;
    padding-bottom: 0px;
    font-weight: bold;
    padding-top: 4%;
    margin-block-start: 86px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1260px) {
  .header {
    /* content de l'avatar */
    height: 10%;
    font-size: 96%;
    /* center avatar */
  }

  .footer {
    font-size: 123%;
    height: 8%;
  }

  .soon {
    padding: 60px;
    text-align: center;
    color: white;
    /* font-size: 4%; */
    width: 28%;
    margin-left: 31%;
    margin-top: -16%;
    margin-bottom: 7%;
  }

  .card1 {
    font-size: 214%;
    padding: 20px;
    padding-bottom: 61%;
    height: 21%;
    width: 77%;
  }

  .card2 {
    font-size: 170%;
    padding: 20px;
    padding-bottom: 61%;
    height: 21%;
    width: 77%;
  }

  .card3 {
    font-size: 98%;
    padding: 20px;
    padding-bottom: 61%;
    height: 21%;
    width: 77%;
  }

  .card4 {
    font-size: 98%;
    padding: 20px;
    padding-bottom: 61%;
    height: 21%;
    width: 77%;
  }

  .zoom1 {
    padding: 0px;
    padding-top: 102px;
  }

  .zoom2 {
    padding: 0px;
  }

  .zoom3 {
    padding: 0px;
  }

  .zoom4 {
    padding: 0px;
  }

  .column {
    float: left;
    width: 48%;
  }

  .row {
    margin: 2%;
  }

  .fa-music:before {
    font-size: 84%;
  }

  .menu1 {
    font-family: Caveat;
    color: #0887fb;
    font-size: 363%;
  }

  .menu4 {
    font-family: Caveat;
    color: black;
    font-size: 133%;
  }

  .menu3 {
    color: #c77412;
    font-size: 140%;
  }

  .menu2 {
    font-family: Caveat;
    color: #56a847;
    font-size: 363%;
  }

  .lanotemini {
    color: black;
    font-size: 80%;
    font-family: Caveat;
    padding: 4%;
  }

  .lechicmini {
    padding-bottom: 8%;
    font-weight: bold;
    background: linear-gradient(to right, #c77412 0%, #905bfd 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 80%;
    margin-block-start: 133px;
  }

  .lapalettemini {
    background: linear-gradient(to right, #56a847 0%, #bfff7e 54%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 150%;
    font-family: Merienda One;
    padding-top: 17%;
    margin-block-start: 133px;
  }

  .ledélicemini {
    background: linear-gradient(to right, #0431df 0%, #0887fb 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 156%;
    font-family: Dancing Script;
    padding-bottom: 0px;
    font-weight: bold;
    padding-top: 4%;
    margin-block-start: 133px;
  }

  p.next {
    font-size: 23px;
  }

  .btn {
    padding: 1%;
  }
}
@media screen and (min-width: 1260px) and (max-width: 1920px) {
  .header {
    /* content de l'avatar */
    height: 10%;
    font-size: 111%;
    /* center avatar */
  }

  .footer {
    font-size: 139%;
    height: 8%;
  }

  .soon {
    padding: 60px;
    text-align: center;
    color: white;
    /* font-size: 4%; */
    width: 28%;
    margin-left: 31%;
    margin-top: -16%;
    margin-bottom: 7%;
  }

  .card1 {
    font-size: 273%;
    padding: 20px;
    padding-bottom: 61%;
    height: 21%;
    width: 77%;
  }

  .card2 {
    font-size: 250%;
    padding: 20px;
    padding-bottom: 61%;
    height: 21%;
    width: 77%;
  }

  .card3 {
    font-size: 122%;
    padding: 20px;
    padding-bottom: 61%;
    height: 21%;
    width: 77%;
  }

  .card4 {
    font-size: 122%;
    padding: 20px;
    padding-bottom: 61%;
    height: 21%;
    width: 77%;
  }

  .zoom1 {
    padding: 0px;
    padding-top: 111px;
  }

  .zoom2 {
    padding: 0px;
  }

  .zoom3 {
    padding: 0px;
  }

  .zoom4 {
    padding: 0px;
  }

  .column {
    float: left;
    width: 48%;
  }

  .row {
    margin: 2%;
  }

  .fa-music:before {
    font-size: 115%;
  }

  .menu1 {
    font-family: Caveat;
    color: #0887fb;
    font-size: 363%;
  }

  .menu4 {
    font-family: Caveat;
    color: black;
    font-size: 133%;
  }

  .menu3 {
    color: #c77412;
    font-size: 140%;
  }

  .menu2 {
    font-family: Caveat;
    color: #56a847;
    font-size: 363%;
  }

  .lanotemini {
    color: black;
    font-size: 80%;
    font-family: Caveat;
    padding: 4%;
  }

  .lechicmini {
    padding-bottom: 8%;
    font-weight: bold;
    background: linear-gradient(to right, #c77412 0%, #905bfd 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 80%;
    margin-block-start: 148px;
  }

  .lapalettemini {
    background: linear-gradient(to right, #56a847 0%, #bfff7e 54%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 150%;
    font-family: Merienda One;
    padding-top: 4%;
    margin-block-start: 150px;
  }

  .ledélicemini {
    background: linear-gradient(to right, #0431df 0%, #0887fb 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 156%;
    font-family: Dancing Script;
    padding-bottom: 0px;
    font-weight: bold;
    padding-top: 4%;
    margin-block-start: 150px;
  }

  p.next {
    font-size: 30px;
  }

  .btn {
    padding: 3%;
  }
}
@media screen and (min-width: 1920px) {
  .header {
    /* content de l'avatar */
    height: 10%;
    font-size: 208%;
    /* center avatar */
  }

  .footer {
    font-size: 350%;
    height: 7%;
  }

  .soon {
    padding: 60px;
    text-align: center;
    color: white;
    /* font-size: 4%; */
    width: 28%;
    margin-left: 34%;
    margin-top: -16%;
    margin-bottom: 7%;
  }

  .card1 {
    font-size: 481%;
    padding: 20px;
    padding-bottom: 76%;
    height: 21%;
    width: 85%;
  }

  .card2 {
    font-size: 456%;
    padding: 20px;
    padding-bottom: 76%;
    height: 21%;
    width: 85%;
  }

  .card3 {
    font-size: 258%;
    padding: 20px;
    padding-bottom: 76%;
    height: 21%;
    width: 85%;
  }

  .card4 {
    font-size: 258%;
    padding: 20px;
    padding-bottom: 76%;
    height: 21%;
    width: 85%;
  }

  .zoom1 {
    padding: 0px;
    padding-top: 309px;
  }

  .zoom2 {
    padding: 0px;
  }

  .zoom3 {
    padding: 0px;
  }

  .zoom4 {
    padding: 0px;
  }

  .column {
    float: left;
    width: 48%;
  }

  .row {
    margin: 2%;
  }

  .fa-music:before {
    font-size: 115%;
  }

  .menu1 {
    font-family: Caveat;
    color: #0887fb;
    font-size: 363%;
  }

  .menu4 {
    font-family: Caveat;
    color: black;
    font-size: 133%;
  }

  .menu3 {
    color: #c77412;
    font-size: 140%;
  }

  .menu2 {
    font-family: Caveat;
    color: #56a847;
    font-size: 363%;
  }

  .lanotemini {
    color: black;
    font-size: 80%;
    font-family: Caveat;
    padding: 4%;
  }

  .lechicmini {
    padding-bottom: 8%;
    font-weight: bold;
    background: linear-gradient(to right, #c77412 0%, #905bfd 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 80%;
    margin-block-start: 349px;
  }

  .lapalettemini {
    background: linear-gradient(to right, #56a847 0%, #bfff7e 54%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 150%;
    font-family: Merienda One;
    padding-top: 4%;
    margin-block-start: 335px;
  }

  .ledélicemini {
    background: linear-gradient(to right, #0431df 0%, #0887fb 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 156%;
    font-family: Dancing Script;
    padding-bottom: 0px;
    font-weight: bold;
    padding-top: 4%;
    margin-block-start: 335px;
  }

  p.next {
    font-size: 63px;
  }

  .btn {
    padding: 5%;
  }
}
@media screen and (max-width: 425px) {
  .fa-music:before {
    font-size: 72%;
  }

  h2.lanote {
    color: black;
    font-size: 92%;
    font-family: Caveat;
    margin-block-end: 11px;
    margin-block-start: 40px;
  }

  .card1grand {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcdfdb;
    margin: 12%;
    padding: 6px;
    padding-bottom: 10%;
    text-align: center;
    font-family: Caveat;
    font-weight: bold;
    font-size: 159%;
    margin-bottom: 37%;
  }

  td {
    padding: 12px;
  }

  .table1 {
    border-collapse: collapse;
    width: 86%;
    font-size: 17px;
    font-family: Caveat;
    margin: 18px;
  }

  h2.note {
    font: 20px sans-serif;
    margin-top: 9px;
    text-align: center;
    font-family: Caveat;
    font-weight: bold;
    margin-block-end: 0px;
    margin-block-start: 0px;
  }

  h2.note.backgroundnote span {
    background: #fcdfdb;
    padding: 0px 18px;
  }
}
@media screen and (min-width: 425px) and (max-width: 768px) {
  .fa-music:before {
    font-size: 100%;
  }

  h2.lanote {
    color: black;
    font-size: 115%;
    font-family: Caveat;
    margin-block-end: 11px;
    margin-block-start: 12px;
  }

  .card1grand {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcdfdb;
    margin: 12%;
    padding: 6px;
    padding-bottom: 11%;
    text-align: center;
    font-family: Caveat;
    font-weight: bold;
    font-size: 159%;
    margin-bottom: 37%;
  }

  .table1 {
    border-collapse: collapse;
    width: 88%;
    font-size: 21px;
    font-family: Caveat;
    margin: 18px;
  }

  h2.note {
    font: 26px sans-serif;
    margin-top: 9px;
    text-align: center;
    font-family: Caveat;
    font-weight: bold;
    margin-block-end: 0px;
    margin-block-start: 0px;
  }

  h2.note.backgroundnote span {
    background: #fcdfdb;
    padding: 0px 18px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .fa-music:before {
    font-size: 100%;
  }

  h2.lanote {
    color: black;
    font-size: 167%;
    font-family: Caveat;
    margin-block-end: 46px;
    margin-block-start: 30px;
  }

  .card1grand {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcdfdb;
    margin: 12%;
    padding: 43px;
    padding-bottom: 11%;
    text-align: center;
    font-family: Caveat;
    font-weight: bold;
    font-size: 159%;
    margin-bottom: 37%;
  }

  .table1 {
    border-collapse: collapse;
    width: 99%;
    font-size: 20px;
    font-family: Caveat;
    margin: 3px;
  }

  h2.note {
    font: 26px sans-serif;
    margin-top: 9px;
    text-align: center;
    font-family: Caveat;
    font-weight: bold;
    margin-block-end: 0px;
    margin-block-start: 65px;
  }

  h2.note.backgroundnote span {
    background: #fcdfdb;
    padding: 0px 18px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1260px) {
  .fa-music:before {
    font-size: 100%;
  }

  .music {
    background: linear-gradient(to right, #f15861 0%, #f78f6a 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 79px;
  }

  h2.lanote {
    color: black;
    font-size: 178%;
    font-family: Caveat;
    margin-block-end: 51px;
    margin-block-start: 43px;
  }

  .card1grand {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcdfdb;
    margin: 12%;
    padding: 40px;
    padding-bottom: 11%;
    text-align: center;
    font-family: Caveat;
    font-weight: bold;
    font-size: 159%;
    margin-bottom: 37%;
  }

  .table1 {
    border-collapse: collapse;
    width: 97%;
    font-size: 24px;
    font-family: Caveat;
    margin: 9px;
  }

  h2.note {
    font: 26px sans-serif;
    margin-top: 9px;
    text-align: center;
    font-family: Caveat;
    font-weight: bold;
    margin-block-end: 0px;
    margin-block-start: 87px;
    font-size: 33px;
  }

  h2.note.backgroundnote span {
    background: #fcdfdb;
    padding: 0px 18px;
  }
}
@media screen and (min-width: 1260px) and (max-width: 1920px) {
  .fa-music:before {
    font-size: 100%;
  }

  h2.lanote {
    color: black;
    font-size: 115%;
    font-family: Caveat;
    margin-block-end: 11px;
    margin-block-start: 64px;
  }

  .card1grand {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcdfdb;
    margin: 12%;
    padding: 60px;
    padding-bottom: 11%;
    text-align: center;
    font-family: Caveat;
    font-weight: bold;
    font-size: 312%;
    margin-bottom: 37%;
  }

  .table1 {
    border-collapse: collapse;
    width: 100%;
    font-size: 31px;
    font-family: Caveat;
    margin: 0px;
  }

  h2.note {
    font: 26px sans-serif;
    margin-top: 9px;
    text-align: center;
    font-family: Caveat;
    font-weight: bold;
    margin-block-end: 0px;
    margin-block-start: 104px;
    font-size: 40px;
  }

  h2.note.backgroundnote span {
    background: #fcdfdb;
    padding: 0px 18px;
  }
}
@media screen and (min-width: 1920px) {
  .fa-music:before {
    font-size: 100%;
  }

  h2.lanote {
    color: black;
    font-size: 115%;
    font-family: Caveat;
    margin-block-end: 11px;
    margin-block-start: 64px;
  }

  .card1grand {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcdfdb;
    margin: 12%;
    padding: 60px;
    padding-bottom: 11%;
    text-align: center;
    font-family: Caveat;
    font-weight: bold;
    font-size: 606%;
    margin-bottom: 37%;
  }

  .table1 {
    border-collapse: collapse;
    width: 97%;
    font-size: 45px;
    font-family: Caveat;
    margin: 18px;
  }

  h2.note {
    font: 26px sans-serif;
    margin-top: 9px;
    text-align: center;
    font-family: Caveat;
    font-weight: bold;
    margin-block-end: 0px;
    margin-block-start: 83px;
    font-size: 67px;
  }

  h2.note.backgroundnote span {
    background: #fcdfdb;
    padding: 0px 18px;
  }
}
@media screen and (max-width: 425px) {
  .card2grand {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: Old Standard TT;
    font-weight: bold;
    font-size: 37%;
    background-color: #fff5fe;
    margin: 12%;
    padding: 10px;
    padding-bottom: 22%;
    margin-bottom: 43%;
  }

  h2.chic {
    font: 41px sans-serif;
    margin-top: 53px;
    text-align: center;
    font-family: Old Standard TT;
    font-size: 230%;
    padding: 5%;
    height: 2%;
    width: 89%;
  }

  .tablechic2 {
    border-collapse: collapse;
    width: 100%;
    font-size: 13px;
    font-family: Old Standard TT;
    margin: 0px;
    color: #a56799;
  }

  .tablechic1 {
    border-collapse: collapse;
    width: 93%;
    font-size: 13px;
    font-family: Old Standard TT;
    margin: 9px;
    color: #c67412;
  }

  .tablechic3 {
    border-collapse: collapse;
    width: 93%;
    font-size: 13px;
    font-family: Old Standard TT;
    margin: 9px;
    color: #6e4ccc;
  }

  h2.chic.backgroundchic1 span {
    color: #c67412;
    font-weight: bold;
    background: #fff5fe;
    padding: 0px 10px;
  }

  h2.chic.backgroundchic2 span {
    color: #a56799;
    font-weight: bold;
    background: #fff5fe;
    padding: 0px 10px;
  }

  h2.chic.backgroundchic3 span {
    color: #6e4ccc;
    font-weight: bold;
    background: #fff5fe;
    padding: 0px 10px;
  }

  .lechic {
    padding: 3%;
    font-weight: bold;
    background: linear-gradient(to right, #c77412 0%, #905bfd 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 350%;
    margin-top: 24%;
  }
}
@media screen and (min-width: 425px) and (max-width: 768px) {
  .card2grand {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: Old Standard TT;
    font-weight: bold;
    font-size: 37%;
    background-color: #fff5fe;
    margin: 12%;
    padding: 15px;
    padding-bottom: 22%;
    margin-bottom: 43%;
  }

  h2.chic {
    font: 41px sans-serif;
    margin-top: 53px;
    text-align: center;
    font-family: Old Standard TT;
    font-size: 253%;
    padding: 4%;
    height: 2%;
    width: 91%;
  }

  .tablechic2 {
    border-collapse: collapse;
    width: 100%;
    font-size: 15px;
    font-family: Old Standard TT;
    margin: 0px;
    color: #a56799;
  }

  .tablechic1 {
    border-collapse: collapse;
    width: 100%;
    font-size: 15px;
    font-family: Old Standard TT;
    margin: 0px;
    color: #c67412;
  }

  .tablechic3 {
    border-collapse: collapse;
    width: 100%;
    font-size: 15px;
    font-family: Old Standard TT;
    margin: 0px;
    color: #6e4ccc;
  }

  h2.chic.backgroundchic1 span {
    color: #c67412;
    font-weight: bold;
    background: #fff5fe;
    padding: 0px 24px;
    font-size: 101%;
  }

  h2.chic.backgroundchic2 span {
    color: #a56799;
    font-weight: bold;
    background: #fff5fe;
    padding: 0px 21px;
    font-size: 101%;
  }

  h2.chic.backgroundchic3 span {
    color: #6e4ccc;
    font-weight: bold;
    background: #fff5fe;
    padding: 0px 21px;
    font-size: 101%;
  }

  .lechic {
    padding: 3%;
    font-weight: bold;
    background: linear-gradient(to right, #c77412 0%, #905bfd 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 436%;
    margin-top: 24%;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .card2grand {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: Old Standard TT;
    font-weight: bold;
    font-size: 37%;
    background-color: #fff5fe;
    margin: 12%;
    padding: 39px;
    padding-bottom: 22%;
    margin-bottom: 43%;
  }

  h2.chic {
    font: 41px sans-serif;
    margin-top: 53px;
    text-align: center;
    font-family: Old Standard TT;
    font-size: 279%;
    padding: 2%;
    height: 3%;
    width: 98%;
  }

  .tablechic2 {
    border-collapse: collapse;
    width: 100%;
    font-size: 17px;
    font-family: Old Standard TT;
    margin: 0px;
    color: #a56799;
  }

  .tablechic1 {
    border-collapse: collapse;
    width: 100%;
    font-size: 17px;
    font-family: Old Standard TT;
    margin: 0px;
    color: #c67412;
  }

  .tablechic3 {
    border-collapse: collapse;
    width: 100%;
    font-size: 17px;
    font-family: Old Standard TT;
    margin: 0px;
    color: #6e4ccc;
  }

  h2.chic.backgroundchic1 span {
    color: #c67412;
    font-weight: bold;
    background: #fff5fe;
    padding: 0px 24px;
    font-size: 120%;
  }

  h2.chic.backgroundchic2 span {
    color: #a56799;
    font-weight: bold;
    background: #fff5fe;
    padding: 0px 21px;
    font-size: 120%;
  }

  h2.chic.backgroundchic3 span {
    color: #6e4ccc;
    font-weight: bold;
    background: #fff5fe;
    padding: 0px 21px;
    font-size: 120%;
  }

  .lechic {
    padding: 0%;
    font-weight: bold;
    background: linear-gradient(to right, #c77412 0%, #905bfd 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 572%;
    margin-top: 13%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1260px) {
  .lechic {
    padding: 0%;
    font-weight: bold;
    background: linear-gradient(to right, #c77412 0%, #905bfd 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 496%;
    margin-top: 13%;
  }

  .card2grand {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: Old Standard TT;
    font-weight: bold;
    font-size: 53%;
    background-color: #fff5fe;
    margin: 12%;
    padding: 39px;
    padding-bottom: 22%;
    margin-bottom: 43%;
  }

  h2.chic {
    font: 41px sans-serif;
    margin-top: 53px;
    text-align: center;
    font-family: Old Standard TT;
    font-size: 279%;
    padding: 2%;
    height: 3%;
    width: 98%;
  }

  .tablechic2 {
    border-collapse: collapse;
    width: 100%;
    font-size: 21px;
    font-family: Old Standard TT;
    margin: 0px;
    color: #a56799;
  }

  .tablechic1 {
    border-collapse: collapse;
    width: 98%;
    font-size: 21px;
    font-family: Old Standard TT;
    margin: 0px;
    color: #c67412;
  }

  .tablechic3 {
    border-collapse: collapse;
    width: 100%;
    font-size: 21px;
    font-family: Old Standard TT;
    margin: 0px;
    color: #6e4ccc;
  }

  h2.chic.backgroundchic1 span {
    color: #c67412;
    font-weight: bold;
    background: #fff5fe;
    padding: 0px 30px;
    font-size: 120%;
  }

  h2.chic.backgroundchic2 span {
    color: #a56799;
    font-weight: bold;
    background: #fff5fe;
    padding: 0px 30px;
    font-size: 120%;
  }

  h2.chic.backgroundchic3 span {
    color: #6e4ccc;
    font-weight: bold;
    background: #fff5fe;
    padding: 0px 30px;
    font-size: 120%;
  }

  h2.chic {
    font: 41px sans-serif;
    margin-top: 53px;
    text-align: center;
    font-family: Old Standard TT;
    font-size: 279%;
    padding: 1%;
    height: 4%;
    width: 98%;
  }
}
@media screen and (min-width: 1260px) and (max-width: 1920px) {
  .card2grand {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: Old Standard TT;
    font-weight: bold;
    font-size: 60%;
    background-color: #fff5fe;
    margin: 12%;
    padding: 39px;
    padding-bottom: 22%;
    margin-bottom: 43%;
  }

  h2.chic {
    font: 41px sans-serif;
    margin-top: 53px;
    text-align: center;
    font-family: Old Standard TT;
    font-size: 279%;
    padding: 2%;
    height: 3%;
    width: 98%;
  }

  .tablechic2 {
    border-collapse: collapse;
    width: 98%;
    font-size: 25px;
    font-family: Old Standard TT;
    margin: 0px;
    color: #a56799;
  }

  .tablechic1 {
    border-collapse: collapse;
    width: 97%;
    font-size: 25px;
    font-family: Old Standard TT;
    margin: 0px;
    color: #c67412;
  }

  .tablechic3 {
    border-collapse: collapse;
    width: 100%;
    font-size: 25px;
    font-family: Old Standard TT;
    margin: 0px;
    color: #6e4ccc;
  }

  h2.chic.backgroundchic1 span {
    color: #c67412;
    font-weight: bold;
    background: #fff5fe;
    padding: 0px 30px;
    font-size: 120%;
  }

  h2.chic.backgroundchic2 span {
    color: #a56799;
    font-weight: bold;
    background: #fff5fe;
    padding: 0px 30px;
    font-size: 120%;
  }

  h2.chic.backgroundchic3 span {
    color: #6e4ccc;
    font-weight: bold;
    background: #fff5fe;
    padding: 0px 30px;
    font-size: 120%;
  }

  h2.chic {
    font: 41px sans-serif;
    margin-top: 53px;
    text-align: center;
    font-family: Old Standard TT;
    font-size: 279%;
    padding: 1%;
    height: 4%;
    width: 98%;
  }

  .lechic {
    padding: 9%;
    font-weight: bold;
    background: linear-gradient(to right, #c77412 0%, #905bfd 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 613%;
    margin-top: 13%;
  }
}
@media screen and (min-width: 1920px) {
  .card2grand {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: Old Standard TT;
    font-weight: bold;
    font-size: 107%;
    background-color: #fff5fe;
    margin: 12%;
    padding: 39px;
    padding-bottom: 22%;
    margin-bottom: 43%;
  }

  .tablechic2 {
    border-collapse: collapse;
    width: 95%;
    font-size: 40px;
    font-family: Old Standard TT;
    margin: 27px;
    color: #a56799;
  }

  .tablechic1 {
    border-collapse: collapse;
    width: 97%;
    font-size: 40px;
    font-family: Old Standard TT;
    margin: 27px;
    color: #c67412;
  }

  .tablechic3 {
    border-collapse: collapse;
    width: 100%;
    font-size: 40px;
    font-family: Old Standard TT;
    margin: 27px;
    color: #6e4ccc;
  }

  h2.chic.backgroundchic1 span {
    color: #c67412;
    font-weight: bold;
    background: #fff5fe;
    padding: 0px 30px;
    font-size: 120%;
  }

  h2.chic.backgroundchic2 span {
    color: #a56799;
    font-weight: bold;
    background: #fff5fe;
    padding: 0px 30px;
    font-size: 120%;
  }

  h2.chic.backgroundchic3 span {
    color: #6e4ccc;
    font-weight: bold;
    background: #fff5fe;
    padding: 0px 30px;
    font-size: 120%;
  }

  h2.chic {
    font: 41px sans-serif;
    margin-top: 148px;
    text-align: center;
    font-family: Old Standard TT;
    font-size: 326%;
    padding: 0%;
    height: 4%;
    width: 98%;
  }

  .lechic {
    padding: 9%;
    font-weight: bold;
    background: linear-gradient(to right, #c77412 0%, #905bfd 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 613%;
    margin-top: 13%;
  }
}
@media screen and (max-width: 425px) {
  .ledélice {
    background: linear-gradient(to right, #0431df 0%, #0887fb 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 673%;
    font-family: Dancing Script;
    padding: 7%;
    font-weight: bold;
  }

  .card3grand {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: #f9f9f9;
    margin: 11%;
    padding: 6px;
    padding-bottom: 22%;
    font-size: 4px;
  }

  h2.délice.backgrounddélice1 span {
    background: #f9f9f9;
    padding: 0px 9px;
    font-size: 18px;
  }

  h2.délice.backgrounddélice2 span {
    background: #f9f9f9;
    padding: 0px 9px;
    font-size: 18px;
  }

  h2.délice.backgrounddélice3 span {
    background: #f9f9f9;
    padding: 0px 9px;
    font-size: 18px;
  }

  h2.délice {
    font: 33px sans-serif;
    margin-top: 30px;
    text-align: center;
    font-family: Dancing Script;
    width: 96%;
    padding: 2%;
    height: 4%;
    /* font-size: 73%; */
  }

  .table3 {
    border-collapse: collapse;
    width: 101%;
    font-size: 14px;
    font-family: Dancing Script;
    margin: 0px;
  }
}
@media screen and (min-width: 425px) and (max-width: 768px) {
  .ledélice {
    background: linear-gradient(to right, #0431df 0%, #0887fb 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 673%;
    font-family: Dancing Script;
    padding: 7%;
    font-weight: bold;
  }

  .card3grand {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: #f9f9f9;
    margin: 11%;
    padding: 6px;
    padding-bottom: 22%;
    font-size: 4px;
  }

  h2.délice.backgrounddélice1 span {
    background: #f9f9f9;
    padding: 0px 9px;
    font-size: 18px;
  }

  h2.délice.backgrounddélice2 span {
    background: #f9f9f9;
    padding: 0px 9px;
    font-size: 18px;
  }

  h2.délice.backgrounddélice3 span {
    background: #f9f9f9;
    padding: 0px 9px;
    font-size: 18px;
  }

  h2.délice {
    font: 33px sans-serif;
    margin-top: 30px;
    text-align: center;
    font-family: Dancing Script;
    width: 96%;
    padding: 2%;
    height: 4%;
    /* font-size: 73%; */
  }

  .table3 {
    border-collapse: collapse;
    width: 101%;
    font-size: 14px;
    font-family: Dancing Script;
    margin: 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .ledélice {
    background: linear-gradient(to right, #0431df 0%, #0887fb 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 673%;
    font-family: Dancing Script;
    padding: 7%;
    font-weight: bold;
  }

  .card3grand {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: #f9f9f9;
    margin: 11%;
    padding: 29px;
    padding-bottom: 22%;
    font-size: 7px;
  }

  h2.délice.backgrounddélice1 span {
    background: #f9f9f9;
    padding: 0px 28px;
    font-size: 27px;
  }

  h2.délice.backgrounddélice2 span {
    background: #f9f9f9;
    padding: 0px 28px;
    font-size: 27px;
  }

  h2.délice.backgrounddélice3 span {
    background: #f9f9f9;
    padding: 0px 28px;
    font-size: 27px;
  }

  h2.délice {
    font: 33px sans-serif;
    margin-top: 39px;
    text-align: center;
    font-family: Dancing Script;
    width: 100%;
    padding: 0%;
    height: 7%;
    /* font-size: 73%; */
  }

  .table3 {
    border-collapse: collapse;
    width: 100%;
    font-size: 19px;
    font-family: Dancing Script;
    margin: 0px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1260px) {
  .ledélice {
    background: linear-gradient(to right, #0431df 0%, #0887fb 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 673%;
    font-family: Dancing Script;
    padding: 7%;
    font-weight: bold;
  }

  .card3grand {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: #f9f9f9;
    margin: 11%;
    padding: 40px;
    padding-bottom: 22%;
    font-size: 9px;
  }

  h2.délice.backgrounddélice1 span {
    background: #f9f9f9;
    padding: 0px 28px;
    font-size: 38px;
  }

  h2.délice.backgrounddélice2 span {
    background: #f9f9f9;
    padding: 0px 28px;
    font-size: 38px;
  }

  h2.délice.backgrounddélice3 span {
    background: #f9f9f9;
    padding: 0px 28px;
    font-size: 38px;
  }

  h2.délice {
    font: 33px sans-serif;
    margin-top: 39px;
    text-align: center;
    font-family: Dancing Script;
    width: 100%;
    padding: 0%;
    height: 7%;
    /* font-size: 73%; */
  }

  .table3 {
    border-collapse: collapse;
    width: 100%;
    font-size: 25px;
    font-family: Dancing Script;
    margin: 0px;
  }
}
@media screen and (min-width: 1260px) and (max-width: 1920px) {
  .ledélice {
    background: linear-gradient(to right, #0431df 0%, #0887fb 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 673%;
    font-family: Dancing Script;
    padding: 7%;
    font-weight: bold;
  }

  .card3grand {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: #f9f9f9;
    margin: 11%;
    padding: 49px;
    padding-bottom: 22%;
    font-size: 12px;
  }

  h2.délice.backgrounddélice1 span {
    background: #f9f9f9;
    padding: 0px 28px;
    font-size: 47px;
  }

  h2.délice.backgrounddélice2 span {
    background: #f9f9f9;
    padding: 0px 28px;
    font-size: 47px;
  }

  h2.délice.backgrounddélice3 span {
    background: #f9f9f9;
    padding: 0px 28px;
    font-size: 47px;
  }

  h2.délice {
    font: 33px sans-serif;
    margin-top: 39px;
    text-align: center;
    font-family: Dancing Script;
    width: 100%;
    padding: 0%;
    height: 7%;
    /* font-size: 73%; */
  }

  .table3 {
    border-collapse: collapse;
    width: 99%;
    font-size: 30px;
    font-family: Dancing Script;
    margin: 5px;
  }
}
@media screen and (min-width: 1920px) {
  .ledélice {
    background: linear-gradient(to right, #0431df 0%, #0887fb 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 673%;
    font-family: Dancing Script;
    padding: 7%;
    font-weight: bold;
  }

  .card3grand {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: #f9f9f9;
    margin: 11%;
    padding: 89px;
    padding-bottom: 22%;
    font-size: 19px;
  }

  h2.délice.backgrounddélice1 span {
    background: #f9f9f9;
    padding: 0px 64px;
    font-size: 70px;
  }

  h2.délice.backgrounddélice2 span {
    background: #f9f9f9;
    padding: 0px 64px;
    font-size: 70px;
  }

  h2.délice.backgrounddélice3 span {
    background: #f9f9f9;
    padding: 0px 64px;
    font-size: 70px;
  }

  h2.délice {
    font: 33px sans-serif;
    margin-top: 106px;
    text-align: center;
    font-family: Dancing Script;
    width: 100%;
    padding: 0%;
    height: 6%;
    /* font-size: 73%; */
  }

  .table3 {
    border-collapse: collapse;
    width: 97%;
    font-size: 45px;
    font-family: Dancing Script;
    margin: 14px;
  }
}
@media screen and (max-width: 425px) {
  .card4grand {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: #fdfffd;
    margin: 12%;
    padding: 9px;
    padding-bottom: 22%;
    font-size: 3px;
    margin-bottom: 47%;
  }

  h2.palette.backgroundlapalette span {
    background: #fdfffd;
    padding: 0px 12px;
    font-size: 23px;
  }

  h2.palette {
    font: 40px sans-serif;
    margin-top: 29px;
    text-align: center;
    font-family: Caveat;
    height: 6%;
    padding: 1%;
    width: 99%;
    /* padding-top: 7%; */
  }

  .lapalette {
    background: linear-gradient(to right, #56a847 0%, #bfff7e 54%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 677%;
    font-family: Merienda One;
    padding: 4%;
  }

  .table1 {
    border-collapse: collapse;
    width: 102%;
    font-size: 17px;
    font-family: Caveat;
    margin: 0px;
  }
}
@media screen and (min-width: 425px) and (max-width: 768px) {
  .card4grand {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: #fdfffd;
    margin: 12%;
    padding: 15px;
    padding-bottom: 22%;
    font-size: 5px;
    margin-bottom: 47%;
  }

  h2.palette.backgroundlapalette span {
    background: #fdfffd;
    padding: 0px 12px;
    font-size: 23px;
  }

  h2.palette {
    font: 40px sans-serif;
    margin-top: 29px;
    text-align: center;
    font-family: Caveat;
    height: 6%;
    padding: 1%;
    width: 99%;
    /* padding-top: 7%; */
  }

  .lapalette {
    background: linear-gradient(to right, #56a847 0%, #bfff7e 54%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 677%;
    font-family: Merienda One;
    padding: 5%;
  }

  .table1 {
    border-collapse: collapse;
    width: 100%;
    font-size: 21px;
    font-family: Caveat;
    margin: 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .card4grand {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: #fdfffd;
    margin: 12%;
    padding: 15px;
    padding-bottom: 22%;
    font-size: 5px;
    margin-bottom: 47%;
  }

  h2.palette.backgroundlapalette span {
    background: #fdfffd;
    padding: 0px 12px;
    font-size: 23px;
  }

  h2.palette {
    font: 40px sans-serif;
    margin-top: 29px;
    text-align: center;
    font-family: Caveat;
    height: 6%;
    padding: 1%;
    width: 99%;
    /* padding-top: 7%; */
  }

  .lapalette {
    background: linear-gradient(to right, #56a847 0%, #bfff7e 54%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 677%;
    font-family: Merienda One;
    padding: 1%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1260px) {
  .card4grand {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: #fdfffd;
    margin: 12%;
    padding: 15px;
    padding-bottom: 22%;
    font-size: 7px;
    margin-bottom: 47%;
  }

  h2.palette.backgroundlapalette span {
    background: #fdfffd;
    padding: 0px 24px;
    font-size: 34px;
  }

  h2.palette {
    font: 40px sans-serif;
    margin-top: 29px;
    text-align: center;
    font-family: Caveat;
    height: 6%;
    padding: 1%;
    width: 99%;
    /* padding-top: 7%; */
  }

  .lapalette {
    background: linear-gradient(to right, #56a847 0%, #bfff7e 54%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 677%;
    font-family: Merienda One;
    padding: 1%;
  }

  .table1 {
    border-collapse: collapse;
    width: 97%;
    font-size: 26px;
    font-family: Caveat;
    margin: 9px;
  }
}
@media screen and (min-width: 1260px) and (max-width: 1920px) {
  .card4grand {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: #fdfffd;
    margin: 12%;
    padding: 55px;
    padding-bottom: 22%;
    font-size: 8px;
    margin-bottom: 47%;
  }

  h2.palette.backgroundlapalette span {
    background: #fdfffd;
    padding: 0px 45px;
    font-size: 47px;
  }

  h2.palette {
    font: 40px sans-serif;
    margin-top: 29px;
    text-align: center;
    font-family: Caveat;
    height: 6%;
    padding: 1%;
    width: 99%;
    /* padding-top: 7%; */
  }

  .lapalette {
    background: linear-gradient(to right, #56a847 0%, #bfff7e 54%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 677%;
    font-family: Merienda One;
    padding: 1%;
  }

  .table1 {
    border-collapse: collapse;
    width: 97%;
    font-size: 31px;
    font-family: Caveat;
    margin: 9px;
  }
}
@media screen and (min-width: 1920px) {
  .card4grand {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: #fdfffd;
    margin: 12%;
    padding: 80px;
    padding-bottom: 22%;
    font-size: 14px;
    margin-bottom: 47%;
  }

  h2.palette.backgroundlapalette span {
    background: #fdfffd;
    padding: 0px 65px;
    font-size: 73px;
  }

  h2.palette {
    font: 40px sans-serif;
    margin-top: 29px;
    text-align: center;
    font-family: Caveat;
    height: 6%;
    padding: 0%;
    width: 99%;
    /* padding-top: 7%; */
  }

  .lapalette {
    background: linear-gradient(to right, #56a847 0%, #bfff7e 54%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 677%;
    font-family: Merienda One;
    padding: 1%;
  }

  .table1 {
    border-collapse: collapse;
    width: 97%;
    font-size: 50px;
    font-family: Caveat;
    margin: 19px;
  }
}
/*MAIN.CSS*/
.footer {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #579c87;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 15;
}

a.left {
  position: relative;
}
a.left:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
a.left:hover:before {
  visibility: visible;
  width: 100%;
}

nav {
  float: left;
}
nav a {
  color: #fdcb46;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: ABeeZee;
}
nav a:hover:not(.active) {
  background-color: #579c87;
}

.float_right {
  float: right;
}

.wiggle a:hover {
  animation: wiggle 75ms infinite;
  animation-timing-function: linear;
}

@keyframes wiggle {
  0% {
    transform: translate(2px, 0);
  }
  50% {
    transform: translate(-2px, 0);
  }
  100% {
    transform: translate(2px, 0);
  }
}
.btn {
  display: flex;
  justify-content: center;
  height: 40px;
  width: 100%;
  background-color: #579c87;
  border-radius: 10px;
}

.cs-loader {
  align-self: center;
  color: #fdcb46;
  text-align: center;
}
.cs-loader label {
  font-size: 14px;
  opacity: 0;
  display: inline-block;
}

@keyframes loader {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  33% {
    opacity: 1;
    transform: translateX(0px);
  }
  66% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(50px);
  }
}
@-webkit-keyframes loader {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50px);
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  66% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(50px);
  }
}
.btn:hover label:nth-child(3) {
  -webkit-animation: loader 1s 100ms infinite ease-in-out;
  animation: loader 1s 100ms infinite ease-in-out;
}
.btn:hover label:nth-child(2) {
  -webkit-animation: loader 1s 150ms infinite ease-in-out;
  animation: loader 1s 150ms infinite ease-in-out;
}
.btn:hover label:nth-child(1) {
  -webkit-animation: loader 1s 200ms infinite ease-in-out;
  animation: loader 1s 200ms infinite ease-in-out;
}

.soon {
  padding: 60px;
  text-align: center;
  color: white;
}

.next {
  font-size: 18px;
  padding-left: 31px;
  align-self: center;
  color: #fdcb46;
  font-family: ABeeZee;
}

/* dégrader et police des titres de chaque menus*/
.lechicmini {
  padding-bottom: 8%;
  font-weight: bold;
  background: linear-gradient(to right, #c77412 0%, #905bfd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 80%;
}

.ledélicemini {
  background: linear-gradient(to right, #0431df 0%, #0887fb 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 156%;
  font-family: Dancing Script;
  font-weight: bold;
}

.lapalettemini {
  background: linear-gradient(to right, #56a847 0%, #bfff7e 54%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 150%;
  font-family: Merienda One;
  padding-top: 4%;
}

.lanote {
  color: black;
  font-size: 200%;
  font-family: Caveat;
}

.lanotemini {
  color: black;
  font-size: 80%;
  font-family: Caveat;
  padding: 4%;
}

/*grille des menus table*/
table,
td,
th {
  text-align: left;
}

th,
td {
  padding: 15px;
  width: 100%;
}

/*prix en gras*/
.grasprix {
  font-weight: bold;
}

body {
  margin: 0;
}

.header {
  background-color: #579c87;
  padding: 20px;
  text-align: center;
}
.header a {
  font-family: Archivo black;
  color: #fdcb46;
  text-decoration: none;
  font-size: 273%;
}

.active {
  background-color: #4CAF50;
}

a {
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
