@media screen and (max-width: 425px) {
    .card4grand {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        text-align: center;
        background-color: #fdfffd;
        margin: 12%;
        padding: 9px;
        padding-bottom: 22%;
        font-size: 3px;
        margin-bottom: 47%;
    }

    h2.palette.backgroundlapalette span {
        background: #fdfffd;
        padding: 0px 12px;
        font-size: 23px;
    }

    h2.palette {
        font: 40px sans-serif;
        margin-top: 29px;
        text-align: center;
        font-family: Caveat;
        height: 6%;
        padding: 1%;
        width: 99%;
        
    }

    .lapalette {
        background: linear-gradient(to right, #56a847 0%, #bfff7e 54%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 677%;
        font-family: Merienda One;
        padding: 4%;
    }

    .table1 {
        border-collapse: collapse;
        width: 102%;
        font-size: 17px;
        font-family: Caveat;
        margin: 0px;
    }

}

@media screen and (min-width: 425px) and (max-width: 768px) {
    .card4grand {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        text-align: center;
        background-color: #fdfffd;
        margin: 12%;
        padding: 15px;
        padding-bottom: 22%;
        font-size: 5px;
        margin-bottom: 47%;
    }

    h2.palette.backgroundlapalette span {
        background: #fdfffd;
        padding: 0px 12px;
        font-size: 23px;
    }

    h2.palette {
        font: 40px sans-serif;
        margin-top: 29px;
        text-align: center;
        font-family: Caveat;
        height: 6%;
        padding: 1%;
        width: 99%;
       
    }

    .lapalette {
        background: linear-gradient(to right, #56a847 0%, #bfff7e 54%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 677%;
        font-family: Merienda One;
        padding: 5%;
    }

    .table1 {
        border-collapse: collapse;
        width: 100%;
        font-size: 21px;
        font-family: Caveat;
        margin: 0px;
    }

}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .card4grand {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        text-align: center;
        background-color: #fdfffd;
        margin: 12%;
        padding: 15px;
        padding-bottom: 22%;
        font-size: 5px;
        margin-bottom: 47%;
    }

    h2.palette.backgroundlapalette span {
        background: #fdfffd;
        padding: 0px 12px;
        font-size: 23px;
    }

    h2.palette {
        font: 40px sans-serif;
        margin-top: 29px;
        text-align: center;
        font-family: Caveat;
        height: 6%;
        padding: 1%;
        width: 99%;
        
    }

    .lapalette {
        background: linear-gradient(to right, #56a847 0%, #bfff7e 54%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 677%;
        font-family: Merienda One;
        padding: 1%;
    }

}

@media screen and (min-width: 992px) and (max-width: 1260px) {
    .card4grand {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        text-align: center;
        background-color: #fdfffd;
        margin: 12%;
        padding: 15px;
        padding-bottom: 22%;
        font-size: 7px;
        margin-bottom: 47%;
    }

    h2.palette.backgroundlapalette span {
        background: #fdfffd;
        padding: 0px 24px;
        font-size: 34px;
    }

    h2.palette {
        font: 40px sans-serif;
        margin-top: 29px;
        text-align: center;
        font-family: Caveat;
        height: 6%;
        padding: 1%;
        width: 99%;
        
    }

    .lapalette {
        background: linear-gradient(to right, #56a847 0%, #bfff7e 54%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 677%;
        font-family: Merienda One;
        padding: 1%;
    }

    .table1 {
        border-collapse: collapse;
        width: 97%;
        font-size: 26px;
        font-family: Caveat;
        margin: 9px;
    }

}

@media screen and (min-width: 1260px) and (max-width: 1920px) {
    .card4grand {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        text-align: center;
        background-color: #fdfffd;
        margin: 12%;
        padding: 55px;
        padding-bottom: 22%;
        font-size: 8px;
        margin-bottom: 47%;
    }

    h2.palette.backgroundlapalette span {
        background: #fdfffd;
        padding: 0px 45px;
        font-size: 47px;
    }

    h2.palette {
        font: 40px sans-serif;
        margin-top: 29px;
        text-align: center;
        font-family: Caveat;
        height: 6%;
        padding: 1%;
        width: 99%;
        
    }

    .lapalette {
        background: linear-gradient(to right, #56a847 0%, #bfff7e 54%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 677%;
        font-family: Merienda One;
        padding: 1%;
    }

    .table1 {
        border-collapse: collapse;
        width: 97%;
        font-size: 31px;
        font-family: Caveat;
        margin: 9px;
    }

}

@media screen and (min-width: 1920px) {
    .card4grand {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        text-align: center;
        background-color: #fdfffd;
        margin: 12%;
        padding: 80px;
        padding-bottom: 22%;
        font-size: 14px;
        margin-bottom: 47%;
    }

    h2.palette.backgroundlapalette span {
        background: #fdfffd;
        padding: 0px 65px;
        font-size: 73px;
    }

    h2.palette {
        font: 40px sans-serif;
        margin-top: 29px;
        text-align: center;
        font-family: Caveat;
        height: 6%;
        padding: 0%;
        width: 99%;
        
    }

    .lapalette {
        background: linear-gradient(to right, #56a847 0%, #bfff7e 54%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 677%;
        font-family: Merienda One;
        padding: 1%;
    }

    .table1 {
        border-collapse: collapse;
        width: 97%;
        font-size: 50px;
        font-family: Caveat;
        margin: 19px;
    }

}