@media screen and (max-width: 425px) {
    .card2grand {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        text-align: center;
        font-family: Old Standard TT;
        font-weight: bold;
        font-size: 37%;
        background-color: #fff5fe;
        margin: 12%;
        padding: 10px;
        padding-bottom: 22%;
        margin-bottom: 43%;
    }

    h2.chic {
        font: 41px sans-serif;
        margin-top: 53px;
        text-align: center;
        font-family: Old Standard TT;
        font-size: 230%;
        padding: 5%;
        height: 2%;
        width: 89%;
    }

    .tablechic2 {
        border-collapse: collapse;
        width: 100%;
        font-size: 13px;
        font-family: Old Standard TT;
        margin: 0px;
        color: #a56799;
    }

    .tablechic1 {
        border-collapse: collapse;
        width: 93%;
        font-size: 13px;
        font-family: Old Standard TT;
        margin: 9px;
        color: #c67412;
    }

    .tablechic3 {
        border-collapse: collapse;
        width: 93%;
        font-size: 13px;
        font-family: Old Standard TT;
        margin: 9px;
        color: #6e4ccc;
    }

    h2.chic.backgroundchic1 span {
        color: #c67412;
        font-weight: bold;
        background: #fff5fe;
        padding: 0px 10px;
    }

    h2.chic.backgroundchic2 span {
        color: #a56799;
        font-weight: bold;
        background: #fff5fe;
        padding: 0px 10px;
    }

    h2.chic.backgroundchic3 span {
        color: #6e4ccc;
        font-weight: bold;
        background: #fff5fe;
        padding: 0px 10px;
    }

    .lechic {
        padding: 3%;
        font-weight: bold;
        background: linear-gradient(to right, #c77412 0%, #905bfd 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 350%;
        margin-top: 24%;
    }

}

@media screen and (min-width: 425px) and (max-width: 768px) {
    .card2grand {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        text-align: center;
        font-family: Old Standard TT;
        font-weight: bold;
        font-size: 37%;
        background-color: #fff5fe;
        margin: 12%;
        padding: 15px;
        padding-bottom: 22%;
        margin-bottom: 43%;
    }

    h2.chic {
        font: 41px sans-serif;
        margin-top: 53px;
        text-align: center;
        font-family: Old Standard TT;
        font-size: 253%;
        padding: 4%;
        height: 2%;
        width: 91%;
    }

    .tablechic2 {
        border-collapse: collapse;
        width: 100%;
        font-size: 15px;
        font-family: Old Standard TT;
        margin: 0px;
        color: #a56799;
    }

    .tablechic1 {
        border-collapse: collapse;
        width: 100%;
        font-size: 15px;
        font-family: Old Standard TT;
        margin: 0px;
        color: #c67412;
    }

    .tablechic3 {
        border-collapse: collapse;
        width: 100%;
        font-size: 15px;
        font-family: Old Standard TT;
        margin: 0px;
        color: #6e4ccc;
    }

    h2.chic.backgroundchic1 span {
        color: #c67412;
        font-weight: bold;
        background: #fff5fe;
        padding: 0px 24px;
        font-size: 101%;
    }

    h2.chic.backgroundchic2 span {
        color: #a56799;
        font-weight: bold;
        background: #fff5fe;
        padding: 0px 21px;
        font-size: 101%;
    }

    h2.chic.backgroundchic3 span {
        color: #6e4ccc;
        font-weight: bold;
        background: #fff5fe;
        padding: 0px 21px;
        font-size: 101%;
    }

    .lechic {
        padding: 3%;
        font-weight: bold;
        background: linear-gradient(to right, #c77412 0%, #905bfd 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 436%;
        margin-top: 24%;
    }

}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .card2grand {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        text-align: center;
        font-family: Old Standard TT;
        font-weight: bold;
        font-size: 37%;
        background-color: #fff5fe;
        margin: 12%;
        padding: 39px;
        padding-bottom: 22%;
        margin-bottom: 43%;
    }

    h2.chic {
        font: 41px sans-serif;
        margin-top: 53px;
        text-align: center;
        font-family: Old Standard TT;
        font-size: 279%;
        padding: 2%;
        height: 3%;
        width: 98%;
    }

    .tablechic2 {
        border-collapse: collapse;
        width: 100%;
        font-size: 17px;
        font-family: Old Standard TT;
        margin: 0px;
        color: #a56799;
    }

    .tablechic1 {
        border-collapse: collapse;
        width: 100%;
        font-size: 17px;
        font-family: Old Standard TT;
        margin: 0px;
        color: #c67412;
    }

    .tablechic3 {
        border-collapse: collapse;
        width: 100%;
        font-size: 17px;
        font-family: Old Standard TT;
        margin: 0px;
        color: #6e4ccc;
    }

    h2.chic.backgroundchic1 span {
        color: #c67412;
        font-weight: bold;
        background: #fff5fe;
        padding: 0px 24px;
        font-size: 120%;
    }

    h2.chic.backgroundchic2 span {
        color: #a56799;
        font-weight: bold;
        background: #fff5fe;
        padding: 0px 21px;
        font-size: 120%;
    }

    h2.chic.backgroundchic3 span {
        color: #6e4ccc;
        font-weight: bold;
        background: #fff5fe;
        padding: 0px 21px;
        font-size: 120%;
    }

    .lechic {
        padding: 0%;
        font-weight: bold;
        background: linear-gradient(to right, #c77412 0%, #905bfd 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 572%;
        margin-top: 13%;
    }

}

@media screen and (min-width: 992px) and (max-width: 1260px) {
    .lechic {
        padding: 0%;
        font-weight: bold;
        background: linear-gradient(to right, #c77412 0%, #905bfd 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 496%;
        margin-top: 13%;
    }

    .card2grand {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        text-align: center;
        font-family: Old Standard TT;
        font-weight: bold;
        font-size: 53%;
        background-color: #fff5fe;
        margin: 12%;
        padding: 39px;
        padding-bottom: 22%;
        margin-bottom: 43%;
    }

    h2.chic {
        font: 41px sans-serif;
        margin-top: 53px;
        text-align: center;
        font-family: Old Standard TT;
        font-size: 279%;
        padding: 2%;
        height: 3%;
        width: 98%;
    }

    .tablechic2 {
        border-collapse: collapse;
        width: 100%;
        font-size: 21px;
        font-family: Old Standard TT;
        margin: 0px;
        color: #a56799;
    }

    .tablechic1 {
        border-collapse: collapse;
        width: 103%;
        font-size: 21px;
        font-family: Old Standard TT;
        margin: 0px;
        color: #c67412;
    }

    .tablechic3 {
        border-collapse: collapse;
        width: 100%;
        font-size: 21px;
        font-family: Old Standard TT;
        margin: 0px;
        color: #6e4ccc;
    }

    h2.chic.backgroundchic1 span {
        color: #c67412;
        font-weight: bold;
        background: #fff5fe;
        padding: 0px 30px;
        font-size: 120%;
    }

    h2.chic.backgroundchic2 span {
        color: #a56799;
        font-weight: bold;
        background: #fff5fe;
        padding: 0px 30px;
        font-size: 120%;
    }

    h2.chic.backgroundchic3 span {
        color: #6e4ccc;
        font-weight: bold;
        background: #fff5fe;
        padding: 0px 30px;
        font-size: 120%;
    }

    h2.chic {
        font: 41px sans-serif;
        margin-top: 53px;
        text-align: center;
        font-family: Old Standard TT;
        font-size: 279%;
        padding: 1%;
        height: 4%;
        width: 98%;
    }
}

@media screen and (min-width: 1260px) and (max-width: 1920px) {
    .card2grand {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        text-align: center;
        font-family: Old Standard TT;
        font-weight: bold;
        font-size: 60%;
        background-color: #fff5fe;
        margin: 12%;
        padding: 39px;
        padding-bottom: 22%;
        margin-bottom: 43%;
    }

    h2.chic {
        font: 41px sans-serif;
        margin-top: 53px;
        text-align: center;
        font-family: Old Standard TT;
        font-size: 279%;
        padding: 2%;
        height: 3%;
        width: 98%;
    }

    .tablechic2 {
        border-collapse: collapse;
        width: 100%;
        font-size: 25px;
        font-family: Old Standard TT;
        margin: 0px;
        color: #a56799;
    }

    .tablechic1 {
        border-collapse: collapse;
        width: 103%;
        font-size: 25px;
        font-family: Old Standard TT;
        margin: 0px;
        color: #c67412;
    }

    .tablechic3 {
        border-collapse: collapse;
        width: 100%;
        font-size: 25px;
        font-family: Old Standard TT;
        margin: 0px;
        color: #6e4ccc;
    }

    h2.chic.backgroundchic1 span {
        color: #c67412;
        font-weight: bold;
        background: #fff5fe;
        padding: 0px 30px;
        font-size: 120%;
    }

    h2.chic.backgroundchic2 span {
        color: #a56799;
        font-weight: bold;
        background: #fff5fe;
        padding: 0px 30px;
        font-size: 120%;
    }

    h2.chic.backgroundchic3 span {
        color: #6e4ccc;
        font-weight: bold;
        background: #fff5fe;
        padding: 0px 30px;
        font-size: 120%;
    }

    h2.chic {
        font: 41px sans-serif;
        margin-top: 53px;
        text-align: center;
        font-family: Old Standard TT;
        font-size: 279%;
        padding: 1%;
        height: 4%;
        width: 98%;
    }

    .lechic {
        padding: 9%;
        font-weight: bold;
        background: linear-gradient(to right, #c77412 0%, #905bfd 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 613%;
        margin-top: 13%;
    }
}

@media screen and (min-width: 1920px) {
    .card2grand {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        text-align: center;
        font-family: Old Standard TT;
        font-weight: bold;
        font-size: 107%;
        background-color: #fff5fe;
        margin: 12%;
        padding: 39px;
        padding-bottom: 22%;
        margin-bottom: 43%;
    }

    .tablechic2 {
        border-collapse: collapse;
        width: 95%;
        font-size: 40px;
        font-family: Old Standard TT;
        margin: 27px;
        color: #a56799;
    }

    .tablechic1 {
        border-collapse: collapse;
        width: 97%;
        font-size: 40px;
        font-family: Old Standard TT;
        margin: 27px;
        color: #c67412;
    }

    .tablechic3 {
        border-collapse: collapse;
        width: 100%;
        font-size: 40px;
        font-family: Old Standard TT;
        margin: 27px;
        color: #6e4ccc;
    }

    h2.chic.backgroundchic1 span {
        color: #c67412;
        font-weight: bold;
        background: #fff5fe;
        padding: 0px 30px;
        font-size: 120%;
    }

    h2.chic.backgroundchic2 span {
        color: #a56799;
        font-weight: bold;
        background: #fff5fe;
        padding: 0px 30px;
        font-size: 120%;
    }

    h2.chic.backgroundchic3 span {
        color: #6e4ccc;
        font-weight: bold;
        background: #fff5fe;
        padding: 0px 30px;
        font-size: 120%;
    }

    h2.chic {
        font: 41px sans-serif;
        margin-top: 148px;
        text-align: center;
        font-family: Old Standard TT;
        font-size: 326%;
        padding: 0%;
        height: 4%;
        width: 98%;
    }

    .lechic {
        padding: 9%;
        font-weight: bold;
        background: linear-gradient(to right, #c77412 0%, #905bfd 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 613%;
        margin-top: 13%;
    }
}