@media screen and (max-width: 425px) {
    .ledélice {
        background: linear-gradient(to right, #0431df 0%, #0887fb 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 673%;
        font-family: Dancing Script;
        padding: 7%;
        font-weight: bold;
    }

    .card3grand {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        text-align: center;
        background-color: #f9f9f9;
        margin: 11%;
        padding: 6px;
        padding-bottom: 22%;
        font-size: 4px;
    }

    h2.délice.backgrounddélice1 span {
        background: #f9f9f9;
        padding: 0px 9px;
        font-size: 18px;
    }

    h2.délice.backgrounddélice2 span {
        background: #f9f9f9;
        padding: 0px 9px;
        font-size: 18px;
    }

    h2.délice.backgrounddélice3 span {
        background: #f9f9f9;
        padding: 0px 9px;
        font-size: 18px;
    }

    h2.délice {
        font: 33px sans-serif;
        margin-top: 30px;
        text-align: center;
        font-family: Dancing Script;
        width: 96%;
        padding: 2%;
        height: 4%;
        /* font-size: 73%; */
    }

    .table3 {
        border-collapse: collapse;
        width: 101%;
        font-size: 14px;
        font-family: Dancing Script;
        margin: 0px;
    }

}

@media screen and (min-width: 425px) and (max-width: 768px) {
    .ledélice {
        background: linear-gradient(to right, #0431df 0%, #0887fb 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 673%;
        font-family: Dancing Script;
        padding: 7%;
        font-weight: bold;
    }

    .card3grand {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        text-align: center;
        background-color: #f9f9f9;
        margin: 11%;
        padding: 6px;
        padding-bottom: 22%;
        font-size: 4px;
    }

    h2.délice.backgrounddélice1 span {
        background: #f9f9f9;
        padding: 0px 9px;
        font-size: 18px;
    }

    h2.délice.backgrounddélice2 span {
        background: #f9f9f9;
        padding: 0px 9px;
        font-size: 18px;
    }

    h2.délice.backgrounddélice3 span {
        background: #f9f9f9;
        padding: 0px 9px;
        font-size: 18px;
    }

    h2.délice {
        font: 33px sans-serif;
        margin-top: 30px;
        text-align: center;
        font-family: Dancing Script;
        width: 96%;
        padding: 2%;
        height: 4%;
        /* font-size: 73%; */
    }

    .table3 {
        border-collapse: collapse;
        width: 101%;
        font-size: 14px;
        font-family: Dancing Script;
        margin: 0px;
    }

}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .ledélice {
        background: linear-gradient(to right, #0431df 0%, #0887fb 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 673%;
        font-family: Dancing Script;
        padding: 7%;
        font-weight: bold;
    }

    .card3grand {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        text-align: center;
        background-color: #f9f9f9;
        margin: 11%;
        padding: 29px;
        padding-bottom: 22%;
        font-size: 7px;
    }

    h2.délice.backgrounddélice1 span {
        background: #f9f9f9;
        padding: 0px 28px;
        font-size: 27px;
    }

    h2.délice.backgrounddélice2 span {
        background: #f9f9f9;
        padding: 0px 28px;
        font-size: 27px;
    }

    h2.délice.backgrounddélice3 span {
        background: #f9f9f9;
        padding: 0px 28px;
        font-size: 27px;
    }

    h2.délice {
        font: 33px sans-serif;
        margin-top: 39px;
        text-align: center;
        font-family: Dancing Script;
        width: 100%;
        padding: 0%;
        height: 7%;
        /* font-size: 73%; */
    }

    .table3 {
        border-collapse: collapse;
        width: 100%;
        font-size: 19px;
        font-family: Dancing Script;
        margin: 0px;
    }

}

@media screen and (min-width: 992px) and (max-width: 1260px) {
    .ledélice {
        background: linear-gradient(to right, #0431df 0%, #0887fb 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 673%;
        font-family: Dancing Script;
        padding: 7%;
        font-weight: bold;
    }

    .card3grand {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        text-align: center;
        background-color: #f9f9f9;
        margin: 11%;
        padding: 40px;
        padding-bottom: 22%;
        font-size: 9px;
    }

    h2.délice.backgrounddélice1 span {
        background: #f9f9f9;
        padding: 0px 28px;
        font-size: 38px;
    }

    h2.délice.backgrounddélice2 span {
        background: #f9f9f9;
        padding: 0px 28px;
        font-size: 38px;
    }

    h2.délice.backgrounddélice3 span {
        background: #f9f9f9;
        padding: 0px 28px;
        font-size: 38px;
    }

    h2.délice {
        font: 33px sans-serif;
        margin-top: 39px;
        text-align: center;
        font-family: Dancing Script;
        width: 100%;
        padding: 0%;
        height: 7%;
        /* font-size: 73%; */
    }

    .table3 {
        border-collapse: collapse;
        width: 100%;
        font-size: 25px;
        font-family: Dancing Script;
        margin: 0px;
    }

}

@media screen and (min-width: 1260px) and (max-width: 1920px) {
    .ledélice {
        background: linear-gradient(to right, #0431df 0%, #0887fb 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 673%;
        font-family: Dancing Script;
        padding: 7%;
        font-weight: bold;
    }

    .card3grand {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        text-align: center;
        background-color: #f9f9f9;
        margin: 11%;
        padding: 49px;
        padding-bottom: 22%;
        font-size: 12px;
    }

    h2.délice.backgrounddélice1 span {
        background: #f9f9f9;
        padding: 0px 28px;
        font-size: 47px;
    }

    h2.délice.backgrounddélice2 span {
        background: #f9f9f9;
        padding: 0px 28px;
        font-size: 47px;
    }

    h2.délice.backgrounddélice3 span {
        background: #f9f9f9;
        padding: 0px 28px;
        font-size: 47px;
    }

    h2.délice {
        font: 33px sans-serif;
        margin-top: 39px;
        text-align: center;
        font-family: Dancing Script;
        width: 100%;
        padding: 0%;
        height: 7%;
        /* font-size: 73%; */
    }

    .table3 {
        border-collapse: collapse;
        width: 99%;
        font-size: 30px;
        font-family: Dancing Script;
        margin: 5px;
    }

}

@media screen and (min-width: 1920px) {
    .ledélice {
        background: linear-gradient(to right, #0431df 0%, #0887fb 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 673%;
        font-family: Dancing Script;
        padding: 7%;
        font-weight: bold;
    }

    .card3grand {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        text-align: center;
        background-color: #f9f9f9;
        margin: 11%;
        padding: 89px;
        padding-bottom: 22%;
        font-size: 19px;
    }

    h2.délice.backgrounddélice1 span {
        background: #f9f9f9;
        padding: 0px 64px;
        font-size: 70px;
    }

    h2.délice.backgrounddélice2 span {
        background: #f9f9f9;
        padding: 0px 64px;
        font-size: 70px;
    }

    h2.délice.backgrounddélice3 span {
        background: #f9f9f9;
        padding: 0px 64px;
        font-size: 70px;
    }

    h2.délice {
        font: 33px sans-serif;
        margin-top: 106px;
        text-align: center;
        font-family: Dancing Script;
        width: 100%;
        padding: 0%;
        height: 6%;
        /* font-size: 73%; */
    }

    .table3 {
        border-collapse: collapse;
        width: 97%;
        font-size: 45px;
        font-family: Dancing Script;
        margin: 14px;
    }

}