
/*1_lanote*/
.card1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcdfdb;
  margin: 12%;
  padding: 31px;
  padding-bottom: 22%;
  text-align: center;
  font-family: Caveat;
  font-weight: bold;
  font-size: 159%;
  color: black;
}
.card1grand {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcdfdb;
  margin: 12%;
  padding: 31px;
  padding-bottom: 22%;
  text-align: center;
  font-family: Caveat;
  font-weight: bold;
  font-size: 159%;
}
.table1 {
  border-collapse: collapse;
  width: 95%;
  font-size: 23px;
  font-family: Caveat;
  margin: 21px;
}
/*lanote*/
h2.note {
  font: 33px sans-serif;
  margin-top: 30px;
  text-align: center;
  font-family: Caveat;
  font-weight: bold;

  &.backgroundnote {
    position: relative;
    z-index: 5;
    
    &:before {
      
      border-top: 6px solid black;
      content: "";
      margin: 0 auto;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      bottom: 0;
      width: 95%;
      z-index: -1;
      
    }

    
    

    

    span {
      background: #fcdfdb;
      padding: 0 50px;
    }
  }
}

span.left {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: 0;
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: black;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }

  &:hover:before {
    visibility: visible;
    width: 100%;
  }
}

/*le logo de la note*/
.music {
  background: linear-gradient(to right, #f15861 0%, #f78f6a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 26px;
}