
/*4_lapalette*/
.card4 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: #fdfffd;
  margin: 12%;
  padding: 31px;
  padding-bottom: 22%;
}
.card4grand {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: #fdfffd;
  margin: 12%;
  padding: 31px;
  padding-bottom: 22%;
}
/*lapalette*/
h2.palette {
  font: 33px sans-serif;
  margin-top: 30px;
  text-align: center;
  font-family: Caveat;

  &.backgroundlapalette {
    position: relative;
    z-index: 1;

    &:before {
      
      background-image: radial-gradient(#bfff7e 0%, #56a847 100%);
      content: "";
      margin: 14px auto;
      position: absolute;
      top: 2%;
      left: 0;
      right: 0;
      bottom: 0;
      width: 95%;
      z-index: -1;
    }

    

    span {
      background: #fdfffd;
      padding: 2px 50px;
    }
  }
}
