
/*2_lechic*/
/*lechic*/
h2 {
  font: 33px sans-serif;
  margin-top: 30px;
  text-align: center;
  font-family: Old Standard TT;

  &.background1 {
    position: relative;
    z-index: 1;

    &:before {
      background: #c67412;
      content: "";
      margin: 14px auto;
      position: absolute;
      top: 2%;
      left: 0;
      right: 0;
      bottom: 0;
      width: 95%;
      z-index: -1;
    }

    span {
      color: #c67412;
      font-weight: bold;
      background: #fff5fe;
      padding: 2px 50px;
    }
  }

  &.background2 {
    position: relative;
    z-index: 1;

    &:before {
      background: #a56799;
      content: "";
      margin: 14px auto;
      position: absolute;
      top: 2%;
      left: 0;
      right: 0;
      bottom: 0;
      width: 95%;
      z-index: -1;
    }

    span {
      color: #a56799;
      font-weight: bold;
      background: #fff5fe;
      padding: 2px 50px;
    }
  }

  &.background3 {
    position: relative;
    z-index: 1;

    &:before {
      background: #6e4ccc;
      content: "";
      margin: 14px auto;
      position: absolute;
      top: 2%;
      left: 0;
      right: 0;
      bottom: 0;
      width: 95%;
      z-index: -1;
    }

    span {
      color: #6e4ccc;
      font-weight: bold;
      background: #fff5fe;
      padding: 2px 50px;
    }
  }
}
.card2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: Old Standard TT;
  font-weight: bold;
  font-size: 165%;
  background-color: #fff5fe;
  margin: 12%;
  padding: 31px;
  padding-bottom: 22%;
}
.table2 {
  border-collapse: collapse;
  width: 83%;
  font-size: 23px;
  font-family: Old Standard TT;
  margin-left: 66px;
}
