/*3_ledélice*/
/*ledélice*/
h2.délice {
  font: 33px sans-serif;
  margin-top: 30px;
  text-align: center;
  font-family: Dancing Script;

  &.backgrounddélice1 {
    position: relative;
    z-index: 1;

    &:before {
      
      background: #0228dd;
      content: "";
      margin: 14px auto;
      position: absolute;
      top: 16%;
      left: 0;
      right: 0;
      bottom: 0;
      width: 95%;
      z-index: -1;
    }

    

    span {
      background: #f9f9f9;
      padding: 2px 50px;
    }
  }

  &.backgrounddélice2 {
    position: relative;
    z-index: 1;

    &:before {
      
      background: #0670f3;
      content: "";
      margin: 14px auto;
      position: absolute;
      top: 16%;
      left: 0;
      right: 0;
      bottom: 0;
      width: 95%;
      z-index: -1;
    }

    

    span {
      background: #f9f9f9;
      padding: 2px 50px;
    }
  }

  &.backgrounddélice3 {
    position: relative;
    z-index: 1;

    &:before {
      
      background: #229df9;
      content: "";
      margin: 14px auto;
      position: absolute;
      top: 16%;
      left: 0;
      right: 0;
      bottom: 0;
      width: 95%;
      z-index: -1;
    }

   

    span {
      background: #f9f9f9;
      padding: 2px 50px;
    }
  }
}

.table3 {
  border-collapse: collapse;
  width: 83%;
  font-size: 23px;
  font-family: Dancing Script;
  margin-left: 66px;
}
.card3 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: #f9f9f9;
  margin: 12%;
  padding: 31px;
  padding-bottom: 22%;
}
.card3grand {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: #f9f9f9;
  margin: 12%;
  padding: 31px;
  padding-bottom: 22%;
}


span.leftdelice1 {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #0228dd;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }

  &:hover:before {
    visibility: visible;
    width: 100%;
  }
}

span.leftdelice2 {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #0670f3;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }

  &:hover:before {
    visibility: visible;
    width: 100%;
  }
}

span.leftdelice3 {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #229df9;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }

  &:hover:before {
    visibility: visible;
    width: 100%;
  }
}